---
layout: archive
permalink: /categories/
title: "Books and Articles by category"
author_profile: true
---

{% include base_path %}


{% include group-by-array collection=site.books field="categories" %}
{% assign book_categories = group_names %}
{% assign book_group_items = group_items %}




{% for category in book_categories %}
  
  {% assign posts = book_group_items[forloop.index0] %}

  
  <h2 id="{{ category | slugify }}" class="archive__item-title"> {{ category }} </h2>
  {% if posts.size >= 0 %}
  
    {% assign cached_post_collection = '' %}
    {% for post in posts %}

      {% if post %}
        
        {% if post.collection != cached_post_collection %}
        {% assign cached_post_collection = post.collection %}
          <h2 class="archive__subtitle">Books</h2>
        {% endif %} 

        {% include archive-single.html %}
      
      {% endif %}

    {% endfor %}
  {% endif %} 

{% endfor %}




{% include group-by-array collection=site.articles field="categories" %}
{% assign article_categories = group_names %}
{% assign article_group_items = group_items %}

    
{% for category in article_categories %}
  {% assign posts = article_group_items[forloop.index0] %}

  <h2 id="{{ category | slugify }}" class="archive__item-title"> {{ category }} </h2>
  
  {% if posts.size >= 0 %}
  
    {% for post in posts %}

      {% if post %}

        {% if post.collection != cached_post_collection %}
        {% assign cached_post_collection = post.collection %}
            <h2 class="archive__subtitle">Articles</h2>
        {% endif %} 

        {% include archive-single.html %}
      
      {% endif %}

    {% endfor %}
  {% endif %} 

{% endfor %}

